<script>
    function giveTheBg(){
        document.getElementById("cabeceraSearch").style.backgroundImage="linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 100%, rgba(0, 0, 0, 0.6) 100%), url({{place.mainPhoto}})";
    }
    window.onload = giveTheBg
</script>

<header class="masthead" id="cabeceraSearch">
<div class="container h-100">
    <div class="row h-100 align-items-center justify-content-center text-center">
    <div class="col-lg-10 align-self-end">
    </div>
    <div class="col-lg-8 align-self-baseline">
        <h1 class="text-white font-weight-bold ">{{googleData.address_components.0.long_name}}</h1>
        <hr class="divider my-4">
    </div>
    </div>
</div>
</header>

<div class="container" style="padding: 0 5%;">
    <div class="featured-property-half d-flex">
        <div class="image" style="background-image: url({{place.descriptionPhoto}})"></div>
        <div class="text">
            <h2><strong>{{googleData.address_components.0.long_name}}</strong>, {{place.location.country}}</STRike></h2>
            <p class="mb-5">{{place.info.shortDescription}}</p>
            <ul class="property-list-details mb-5">
                <li class="text-black">Language: <strong class="text-black">{{place.info.language}}</strong></li>
                <li class="text-black">Continent: <strong class="text-black">{{place.filters.continent}}</strong></li>
                <li class="text-black">Expensive: <strong class="text-black">{{place.filters.money}}</strong></li>
            </ul>
            <div class="w-100">
                <p><a href="{{googleData.url}}" class="btn btn-primary px-4 py-3 w-100">View on Google Maps</a></p>
                {{#if currentUser}}
                <div class="d-flex align-items-center justify-content-between w-100">
                    <a id="{{place.id}}" class="btn btn-primary px-4 py-3 c-white" style="width: 47.5%; color: white !important" onclick="savePlace(event)">Save place</a>
                {{/if}}
                    <a class="btn btn-primary btn-xl js-scroll-trigger  px-4 py-3" style="width: 47.5%" href="/search">Random</a>
                </div>
                
            </div>
        
        </div>
        
    </div>
</div>

<div class="site-section">
    <div class="container">
        <div class="row">
          <div class="site-section-heading text-center mb-5 w-border col-md-6 mx-auto">
            <h2 class="mb-5">Places of interest</h2>
            <p>Places you can discover in <strong>{{googleData.address_components.0.long_name}}</strong></p>
          </div>
        </div>
        <div class="row tz-gallery">

            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <a class="lightbox" href="">
                        <img src="{{place.info.hotSpots.0.images}}" alt="Park">
                    </a>
                    <div class="caption">
                        <h3>{{place.info.hotSpots.0.name}}</h3>
                        {{!-- <p>{{place.info.hotSpots.0.description}}</p> --}}
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <a class="lightbox" href="">
                        <img src="{{place.info.hotSpots.1.images}}" alt="Bridge">
                    </a>
                    <div class="caption">
                        <h3>{{place.info.hotSpots.1.name}}</h3>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <a class="lightbox" href="">
                        <img src="{{place.info.hotSpots.2.images}}" alt="Tuneel">
                    </a>
                    <div class="caption">
                        <h3>{{place.info.hotSpots.2.name}}</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


