<header class="masthead" >

  <head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <div class="container login-wrapper">
    <div class="row">
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="our-team">
          <div class="picture">
            <img class="img-fluid" src="https://bit.ly/2PIWQ3K">
          </div>
          <div class="team-content">
            <h3 class="name">{{user.name}}</h3>
            <h4 class="title">{{user.username}}</h4>
            {{!-- <a class="btn btn-primary btn-xl js-scroll-trigger" href="/logout">Logout</a> --}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container" style="display: flex; flex-wrap: wrap; justify-content: space-evenly;">
    {{#each places as |place|}}

        <div class="bcn-card login-wrapper">
            <div class="flip-card" style="margin-bottom: 30px;">
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <img src="{{place.descriptionPhoto}}" style="width:300px;height:300px;">
                </div>
                <div class="flip-card-back">
                  <h1>{{place.name}}</h1>
                  <li>{{place.info.shortDescription}}</li> 
                  <li>{{place.info.language}}</li> 
                  <li>{{place.location.country}}</li>
                  <li>{{place.location.continent}}</li>
                  <li>{{place.filters.money}}</li>
                </div>
            </div>
          </div>
        </div>

    {{/each}}
  </div>








</header>

